body {
    background-color: powderblue;
}
h1{
    color: blue;
    padding: 30px;
    padding-left: 50px; 
    border: 2px solid #000000;
    margin: 50px;
    margin-top: 60px;
    margin-left: 40%;
    margin-right: 200px;
    text-align: center;
}
p    {color: red;}
